[submodule "vendor/rini"]
	path = vendor/rini
	url = https://github.com/raysan5/rini.git
[submodule "vendor/sqlite"]
	path = vendor/sqlite
	url = https://github.com/sqlite/sqlite
[submodule "vendor/kryon"]
	path = vendor/kryon
	url = git@github.com:kryonlabs/kryon.git
