[submodule "vendor/raylib"]
	path = vendor/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "vendor/rini"]
	path = vendor/rini
	url = https://github.com/raysan5/rini.git
[submodule "vendor/otfchop"]
	path = vendor/otfchop
	url = https://github.com/waozixyz/otfchop
[submodule "vendor/sqlite"]
	path = vendor/sqlite
	url = https://github.com/sqlite/sqlite
