[Desktop Entry]
Type=Application
Name=Inner Breeze
Exec=run-inbe.sh
Icon=inbe
Terminal=false
X-Ubuntu-Touch=true
X-Ubuntu-Supported-Orientations=portrait,landscape